:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --hover-btn-bg: #74b9ff;
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg:  #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
   }
   
   .light-mode {
     --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
     --button-inactive: #3c3a3a;
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: --theme-color;
}
   

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu-link-main {
    text-decoration: none;
    color: var(--theme-color);
    padding: 0 30px;
    @media screen and (max-width: 1055px) {
        display: none;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    color:var(--theme-color);
    padding: 0px!important;
    height: 100%;
    overflow: auto;
    background-color: var(--theme-bg-color);
    @media screen and (max-width: 510px) {
        padding: 20px;
    }
    &-header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        // background-image: url("https://ae01.alicdn.com/kf/U1f18ea1afa764e1e83b8222106d3bdffL.jpg");

        /*
        ,linear-gradient(
            to right top,
            #cf4af3,
            #e73bd7,
            #f631bc,
            #fd31a2,
            #ff3a8b,
            #ff4b78,
            #ff5e68,
            #ff705c,
            #ff8c51,
            #ffaa49,
            #ffc848,
            #ffe652
        )
        */

        border-radius: 14px;
        padding: 20px 40px;
        @media screen and (max-width: 415px) {
            padding: 20px;
        }
    }
    &.overlay {
        pointer-events: none;
        transition: 0.3s;
        background-color: var(--overlay-bg);
    }
}

.overlay-app {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: all;
    background-color: rgba(36, 39, 59, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
}

.img-content {
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0;
    svg {
        width: 28px;
        margin-right: 14px;
    }
}

.content-text {
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.7em;
    color: #ebecec;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-wrapper-context {
    max-width: 350px;
}

.content-button {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}

.content-wrapper-img {
    object-fit: cover;
    margin-top: -25px;
    object-position: center;
    @media screen and (max-width: 570px) {
        width: 110px;
    }
}

.content-section {
    margin-top: 0px!important;
    display: flex;
    flex-direction: column;
    
    &-title {
        color: var(--dropdown-bg)!important;
        margin-bottom: 14px;
        margin-top: 10px;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        background-color: var(--content-bg);
        padding-left: 0;
        margin: 0;
        border-radius: 14px;
        border: 1px solid var(--theme-bg-color);
        cursor: pointer;
        li {
            list-style: none;
            padding: 10px 18px;
            display: flex;
            align-items: center;
            font-size: 16px;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            transition: 0.3s;
            &:hover {
                background-color: var(--theme-bg-color);
                &:first-child {
                    border-radius: 13px 13px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 13px 13px;
                }
            }
            & + li {
                border-top: 1px solid var(--border-color);
            }
        }
        svg {
            width: 28px;
            border-radius: 6px;
            margin-right: 16px;
            flex-shrink: 0;
        }
    }
}

.products {
    display: flex;
    align-items: center;
    width: 150px;
    @media screen and (max-width:480px) {
        width: 120px;
    }
}

.status {
    margin-left: auto;
    width: 140px;
    font-size: 15px;
    position: relative;
    @media screen and (max-width: 700px) {
        display: none;
    }
    &-circle {
        width: 6px;
        height: 6px;
        background-color: #396df0;
        position: absolute;
        border-radius: 50%;
        top: 4px;
        left: -20px;
        &.green {
            background-color: #3bf083;
        }
    }
    &-button {
        font-size: 15px;
        margin-top: 0;
        padding: 6px 24px;
    }
    &.open {
        background: none;
        color: var(--button-inactive);
        border: 1px solid var(--button-inactive);
    }
    &:not(.open):hover {
        color: #fff;
        border-color: #fff;
    }
}

.content-button:not(.open):hover {
    background: #1e59f1;
}

.menu {
    width: 5px;
    height: 5px;
    background-color: var(--button-inactive);
    border-radius: 50%;
    box-shadow: 7px 0 0 0 var(--button-inactive);
    margin: 0 12px;
}

@media screen and (max-width: 415px) {
    .adobe-product .menu {
        display: none;
    }
}

.dropdown {
    position: relative;
    height: 53px;
    width: 40px;
    top: -24px;
    display: flex;
    left: -5px;
    background: transparent;
    border: none;
    cursor: pointer;
    ul {
       position: absolute;
       background: var(--dropdown-bg); 
       height: 110px;
       width: 120px;
       right: 0;
       top: 20px;
       pointer-events: none;
       opacity: 0;
       transform: translatey(10px);
       transition: all 0.4s ease;
       li a {
           text-decoration: none;
           color: var(--theme-color);
           font-size: 12px;
       }
    }
}

.dropdown.is-active {
    ul {
        opacity: 1;
        pointer-events: all;
        transform: translateY(25px);
        li:hover {
            background-color: var(--dropdown-hover);
        }
    }
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 187px;
    margin-left: auto;
    @media screen and (max-width: 480px) {
        width: auto;
    }
}

.pop-up {
    position: absolute;
    padding: 30px 40px;
    top: 50%;
    left: 50%;
    transform: (translate(-50%, -50%));
    overflow-y: auto;
    box-shadow: 0px 6px 30px;
    transition: all 0.3s;
    z-index: 10;
    background-color: var(--popup-bg);
    width: 500px;
    visibility: hidden;
    opacity: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    white-space: normal;
    @media screen and (max-width: 570px) {
        width: 100%;
    }
    &.visible {
        visibility: visible;
        opacity: 1;
    }
    &__title {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__subtitle {
        white-space: normal;
        margin: 20px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8em;
        a {
            color: var(--theme-color);
        }
    }
}

.content-button-wrapper .content-button .status-button .open .close {
    width: auto;
}

.content-section .close {
    margin-right: 0;
    width: 24px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    & + .checkbox-wrapper {
        margin: 20px 0 40px;
    }
}

.checkbox {
    display: none;
}

.checkbox + label {
    display: flex;
    align-items: center;
    &:before {
        content: "";
        margin-right: 10px;
        height: 15px;
        border: 1px solid var(--theme-color);
        border-radius: 4px;
        cursor: pointer;
        flex-shrink: 0;
    }
}

.checkbox:checked + label:before {
    background-color: #3a6df0;
    border-color: #3a6df0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-position: 50%;
    background-size: 12px;
    background-repeat: no-repeat;
}

.content-button-wrapper {
    margin-top: auto;
    margin-left: auto;
    .open {
        margin-right: 8px;
    }
}

.magnet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(96% - 25px);
    height: 100vh;
    overflow: auto;
    padding-bottom: 150px;
    background-color: #E6DCDC!important;
}

.apps-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 20px);
}

.magent-card-top {
    display: flex;
    flex-direction: row; 
    width: 100%;
    span {
        img {
            border-radius: 50px;
        }
    }
}

.magent-card {
    display: flex;
    width: calc(80% - 20px);
    font-size: 16px;
    background-color: var(--content-bg);
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    transition: 0.3s ease;
    &:hover {
        transform: scale(1.02);
        background-color: var(--theme-bg-color);
    }
    svg {
        width: 28px;
        border-radius: 6px;
        margin-right: 12px;
        flex-shrink: 0;
    }
    // & + .app-card {
    //     margin-left: 20px;
    // }
    span {
        display: flex;
        align-items: center;
        margin-right: 30px;
        overflow: hidden;
    }
    &__subtext {
        font-size: 14px;
        display: flex;
        width: 100%;
        font-weight: 400;
        line-height: 1.6em;
        margin-top: 20px;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 20px;
        padding-left: 10px;
        span {
            white-space: nowrap;
            overflow: hidden;
        }
        .time {
            width: calc(8% - 10px);
            transition: 0.3s ease;
        }
        .auth {
            width: calc(9% - 10px);
            transition: 0.3s ease;
        }
        .magent {
            width: calc(80% - 10px);
            transition: 0.3s ease;
        }
        .size {
            width: calc(15% + 20px);
            transition: 0.3s ease-in-out;
        }
        .btn {
            width: 100px;
            display: block;
            transition: 0.3s ease;
            border-radius: 5px;
            height: 20px;
            text-align: center;
            &:hover {
                cursor: pointer;
                background-color: var(--hover-btn-bg);
            }
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-top: 16px;
    }
    @media screen and (max-width:1600px) {
        .time {
            display: none;
            transition: 0.3s ease;
        }
    }
    @media screen and (max-width:1320px) {
        .auth {
            display: none;
            transition: 0.3s ease-in-out;
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}
   