:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg:  #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
   }
   
   .light-mode {
     --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
     --button-inactive: #3c3a3a;
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: --theme-color;
}
   

.vedio-container {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: var(--theme-bg-color);
    background-image: url("https://ae01.alicdn.com/kf/Ucf1386670cd04ed8b332b5ae01dcf9365.jpg");
    background-size: cover;
    @media screen and (max-width: 1525px) {
        .player {
            width: 1000px;
            height: 620px;
            top: 100px;
        }
        & {
            background-color: var(--theme-bg-color);
            background-image: none;
        }
    }
    @media screen and (max-width: 1245px) {
        .player {
            width: 500px;
            height: 310px;
            top: 200px;
        }
    }
}

.site-page-header {
    width: 100%;
}

.site-page-header {
    border-top: 1px solid var(--border-color);
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}
   